@import "../../variables";

.projectWrapper {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .textSection {
        width: 40%;
        border: 6px solid $color-1;
        box-shadow: 10px 10px;
        background-color: $color-2;

        h1 {
            padding: 5% 5% 0 5%;
            line-height: 1;
            font-size: 40px;
        }

        p {
            padding: 5% 5% 5% 5%;
            font-size: 25px;
        }

        .buttonScopri {
            width: 100%;
            padding: 0 5% 5% 5%;
            display: flex;
            justify-content: center;
        }
    }

    .imgSection {
        height: 0;
        padding: 0;
        /* remove any pre-existing padding, just in case */
        padding-bottom: 30%;
        /* for a 4:3 aspect ratio */
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.display-none-not-modal {
    .textSection {
        border: none;
        box-shadow: none;
        background-color: transparent;
    }

    .imgSection {
        display: none;
    }

    .buttonScopri {
        display: none !important;
    }

    .projectTitle {
        display: none;
    }

    .projectIntro {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .projectWrapper {
        align-items: flex-start;
        margin-top: 5%;
        height: 220vh;
        .textSection {
            width: 90%;
            font-size: 18px;
        }
    }
}