// @import "../../variables";

// #heroHome {
//     color: white;
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .heroTitle-container {
//     text-align: center;
// }

// .heroTitle {
//     span {
//         font-family: 'Poppins', sans-serif;
//         font-size: 60pt;
//         font-weight: 700;
//         color: $h1-color;
//         line-height: 1;
//         overflow: hidden;
//         color: #ffffff;
//     }
// }

// .heroTitleUppercase {
//     span {
//         font-family: 'Poppins', sans-serif;
//         font-size: 60pt;
//         font-weight: 900;
//         color: $h1-color;
//         line-height: 1;
//         overflow: hidden;
//         text-transform: uppercase;
//         color: $color-1;
//     }
// }

// .freelance {
//     position: absolute;
//     right: 2%;
//     top: 10%;
//     span {
//         font-family: 'Bebas Neue';
//         font-size: $h1-size;
//         color: #ffffff  ;
//         line-height: 0.9;
//         overflow: hidden;   
//     }
// }

// .movingText {
//     position: absolute;
//     right: 20%;
//     top: 30%;
//     span {
//         font-family: 'Bebas Neue';
//         font-size: $h1-size;
//         color: #ffffff  ;
//         line-height: 0.9;
//         overflow: hidden;   
//     }
// }

@import "../../variables";

.heroHome {
    display: flex;
    width: 100%;
    height: 100vh;

    .left {
        flex: 0.5;

        .imgContainer {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .imgCircle {
                width: 40vw;
                height: 40vw;
                background-color: $color-3;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

                &:hover {
                    transform: scale(1.05); // Scale up on hover for effect
                    transition: transform 0.3s ease;
                }

                .imgCircleContent {
                    // Style for the "ND" text
                    font-family: 'Poppins', sans-serif;
                    font-size: 20vw;
                    font-weight: 900;
                    color: $color-1;
                    text-transform: uppercase;

                    // Optional gradient effect for a premium look
                    background: linear-gradient(135deg, $color-2, $color-3);
                    background-clip: text;
                    color: transparent; // Text takes the gradient

                }
            }
        }

    }

    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 8%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-family: 'Poppins';
                font-size: 7vw;
                font-weight: 700;
                line-height: 1;
                overflow: hidden;

                span {
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    font-size: 9vw;
                    color: transparent;
                    background: linear-gradient(135deg, $color-1, $color-3);
                    background-clip: text;

                    &:hover {
                        background: linear-gradient(135deg, $color-3, $color-1);
                        background-clip: text;
                    }
                }
            }

            h2 {
                padding: 0.2em 0;
                a {
                    color: $color-1;
                    text-decoration: underline;
                    text-decoration-color: $color-3;
                    text-decoration-thickness: 0.1em;
                }

                a:hover {
                    cursor: pointer;
                    color: $color-3;
                    text-decoration-color: $color-1;
                }
            }

            h3 {
                font-size: x-large;

                span {
                    color: $color-3;
                }
            }

            .social {
                padding-top: 2em;

                a {
                    color: $color-1;
                    padding-right: 1em;
                }

                a:hover {
                    color: $color-3;
                }
            }
        }

        .arrow-down {
            position: absolute;
            bottom: 10px;
            left: 42%;

            svg {
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100% {
                    opacity: 0;
                }
            }
        }
    }
}

.ityped-cursor {
    font-size: 2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    .heroHome {
        flex-direction: column;

        .left {
            position: absolute;
            top: 50px;

            .imgContainer {
                width: 100vw;
                justify-content: left;
                transform: rotate(25deg);
            }
        }

        .right {
            flex: none;
            height: 100vh;
            width: 100%;

            .wrapper {

                h1 {
                    font-size: 12vw;
                    span {
                        font-size: 14vw;
                    }
                }

            }

            .social {
                display: flex;
                justify-content: center;
                margin-left: -8% !important;
            }
        }
    }
}