@import "../../variables";

#heroHome {
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroTitle-container {
    text-align: center;
}

.heroTitle {
    span {
        font-family: 'Poppins', sans-serif;
        font-size: 60pt;
        font-weight: 700;
        color: $h1-color;
        line-height: 1;
        overflow: hidden;
        color: #ffffff;
    }
}

.heroTitleUppercase {
    span {
        font-family: 'Poppins', sans-serif;
        font-size: 60pt;
        font-weight: 900;
        color: $h1-color;
        line-height: 1;
        overflow: hidden;
        text-transform: uppercase;
        color: $yellow;
    }
}

.freelance {
    position: absolute;
    right: 2%;
    top: 10%;
    span {
        font-family: 'Bebas Neue';
        font-size: $h1-size;
        color: #ffffff  ;
        line-height: 0.9;
        overflow: hidden;   
    }
}

.movingText {
    position: absolute;
    right: 20%;
    top: 30%;
    span {
        font-family: 'Bebas Neue';
        font-size: $h1-size;
        color: #ffffff  ;
        line-height: 0.9;
        overflow: hidden;   
    }
}