@import "../../variables";

#home {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: $background;
}

.heroSection {
    background-color: $hero-background;
}

.introSection {
    background-color: $intro-background;
}

.timelineSection {
    background-color: $intro-background;
}

.portfolioSection {
    background-color: $portfolio-background;
}

.contactSection {
    background-color: $contact-background;
}