@import "../../variables";

.introHeader {
    display: flex;
    justify-content: right;

    h1 {
        width: 50%;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        padding-right: 5%;
        font-size: $h1-size;
    }
}

#intro {
    display: flex;
}

#introImg {
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.introText {
    width: 50%;
    padding-top: 0%;
    padding-right: 5%;
    padding-left: 0;
    font-size: $p-size;
}