@import "../../variables";

#introContainer {
    color: $color-2;
}

.introHeader {
    display: flex;

    &.right {
        justify-content: right;
        
        h1 {
            padding-right: 5%;
        } 
    }

    &.left {
        justify-content: left;
        padding-top: 15%;

        h1 {
            padding-left: 5%;
        }
    }

    h1 {
        width: 50%;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: $h1-size;
        color: $color-2;
    }
}

.intro {
    display: flex;
}

.introImg {
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.introText {
    width: 50%;
    font-size: $p-size;

    &.right {
        padding-top: 0%;
        padding-right: 5%;
        padding-left: 0;
    }

    &.left {
        padding-top: 15%;
        padding-right: 0%;
        padding-left: 5%;
    }
}