$color-1: #ECB64F;
$color-2: #57ACA2;

$background: $color-1;

$h1-size: 50px;
$h1-color: #000000;
$p-size: 25px;

$hero-background: $color-2;
$intro-background: $color-1;
$portfolio-background: $color-2;