// $color-1: #ECB64F;
// $color-2: #57ACA2;
$color-1: #000000;
$color-2: #ffffff;
$color-4: #0048d5;
$color-3: #F43731;

$background: $color-1;

$h1-size: 50px;
$h1-color: $color-1;
$p-size: 25px;
$small-text-size: 20px;

$hero-background: $color-2;
$intro-background: $color-1;
$portfolio-background: $color-2;
$contact-background: $color-2;

$navbarHeight: 60px;