---
import { Font } from "astro:assets";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/android-chrome-192x192.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="512x512"
			href="/android-chrome-512x512.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-work-sans" preload />
		<title>Nicolò D'Addabbo</title>
	</head>
	<body>
		<main class="max-w-3xl mx-auto p-4">
			<slot />
		</main>
	</body>
</html>
